{% extends "_layouts/cp" %}
{#{% set fullPageForm = true %}#}
{% import "_includes/forms" as forms %}
{% do view.registerAssetBundle("endurant\\donationsfree\\assetbundles\\sidebar\\SidebarAssetBundle") %}
{% do view.registerAssetBundle("endurant\\donationsfree\\assetbundles\\fields\\DonationsFreeFieldsAssetBundle") %}
{% set title = "Donations Fields Manager"|t('app') %}
{% block sidebar %}
    <div class="sidebar-header">
        <h3>Sidebar Menu</h3>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <li class="sidebar-item"><a href="/admin/donations-free/settings">Settings Manager</a></li>
        <li class="active sidebar-item"><a href="/admin/donations-free/fields">Fields Manager <i class="sidebar-icon material-icons">keyboard_arrow_right</i></a></li>
        <li class="sidebar-item"><a href="/admin/donations-free/steps">Steps Manager</a></li>
        <li class="sidebar-item"><a href="/admin/donations-free/donation-form">Donation Form</a></li>
    </ul>
{% endblock %}
{% block content %}
    <h1>Fields Manager</h1>
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
            <ul>
                {% for key, error in errors %}
                    <li>{{ key }}: {{ error[0] }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="post" action="fields" id="settings-form">
            {% for field in fields %}
                <div class="box">
                    <label class="setting-name float-left">{{ field.name }}</label>
                    <input type="hidden" name="{{ field.name }}-required" value=0>
                    <input type="checkbox" name="{{ field.name }}-required" id="{{ field.name }}-required" class="ios-toggle" value=1 />
                    <label for="{{ field.name }}-required" class="checkbox-label" data-off="Not Required" data-on="Required"></label>
                    {% if field.canHide %}
                        <input type="hidden" name="{{ field.name }}-show" value=0>
                        <input type="checkbox" name="{{ field.name }}-show" id="{{ field.name }}-show" class="ios-toggle" value=1 />
                        <label for="{{ field.name }}-show" class="checkbox-label" data-off="Not Showed" data-on="Showed"></label>
                    {% endif %}
                </div>
                <script>
                    document.getElementById('{{ field.name }}-required').checked = {{ field.required }};
                    document.getElementById('{{ field.name }}-show').checked = {{ field.show }};
                </script>
            {% endfor %}
        <button type="submit" class="btn btn-primary form-btn" id="submit-btn">Update</button>
    </form>
{% endblock %}