<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>{% block head %}{% endblock %}</head>
<body>
<div class="overlay">
</div>
<div class="checkout-panel">
    <div class="panel-body">
        <div class="panel-body-header">
            <h2 class="title">Checkout</h2>
            <div class="amount">
                <h2 id="sum" class="amount">{{ amount }}$</h2>
                <input type="number" class="edit-amount-input hidden" value="{{ amount }}" />
                <img id="edit-btn" class="edit-btn" src="https://i.imgur.com/ILbGByI.png" />
                <img id="ok-btn" class="edit-btn hidden" src="https://i.imgur.com/ILbGByI.png" />
                <img id="cancel-btn" class="edit-btn hidden" src="https://i.imgur.com/ILbGByI.png" />
            </div>
        </div>
        <div class="progress-bar">
            <div class="step"></div>
            <div class="step"></div>
            <div class="step"></div>
            <div class="step"></div>
        </div>

        <form id="payForm" action="pay" method="post">
            <input id="amount" class="hidden" name="amount" value="{{ amount }}"/>
            <input id="projectId" class="hidden" name="projectId" value="{{ projectId }}"/>
            <input id="projectName" class="hidden" name="projectName" value="{{ projectName }}"/>
            <div class="tab">
                <div class="input-fields">
                    <div class="column-1">
                        <label for="firstName">First Name <span class="required">*</span></label>
                        <input type="text" id="firstName" name="firstName" class="input" tabindex=1 required value="das"/>
                        <label for="email">Email <span class="required">*</span></label>
                        <input type="email" id="email" name="email" class="input" tabindex=3 required value="das@sad.com"/>
                    </div>
                    <div class="column-2">
                        <label for="lastName">Last Name <span class="required">*</span></label>
                        <input type="text" id="lastName" name="lastName" class="input" tabindex=2 required value="das"/>
                        <label for="phone">Phone <span class="required">*</span></label>
                        <input type="text" id="phone" name="phone" class="input" tabindex=4 required value="das"/>
                    </div>
                </div>
            </div>

            <div class="tab">
                <label for="company">Company <span class="required">*</span></label>
                <input type="text" id="company" name="company" class="input" required tabindex=5 />
                <div class="input-fields">
                    <div class="column-1">
                        <label for="firstName">Country <span class="required">*</span></label>
                        <select id="country" class="input" name="countryId" tabindex=6>
                            {% for country in countries %}
                                <option value="{{ country.id }}" {{  defaultCountryId == country.id ? ' selected ' : '' }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="email">City <span class="required">*</span></label>
                        <input type="text" id="city" name="city" class="input" required tabindex=8/>
                        <label for="email">Postal Code <span class="required">*</span></label>
                        <input type="text" id="postalCode" name="postalCode" class="input" required tabindex=10 />
                    </div>
                    <div class="column-2">
                        <label for="lastName">State / Province <span class="required">*</span></label>
                        <select id="state-select" class="input" name="stateId" tabindex=7>
                            {% for state in states %}
                                <option value="{{ state.id }}" {{  state.id == 1 ? ' selected ' : '' }}>{{ state.name }}</option>
                            {% endfor %}
                        </select>
                        <input id="state-input" name="state" type="text" class="input hidden" tabindex=7 />
                        <label for="phone">Address <span class="required">*</span></label>
                        <input type="text" id="address" name="streetAddress" class="input" required tabindex=9 />
                        <label for="email">Extended Address</label>
                        <input type="text" id="extendedAddress" name="extendedAddress" class="input" tabindex=11 />
                    </div>
                </div>
            </div>

            <div class="tab">
                <div id="dropin-container"></div>
                <input type="hidden" id="nonce" display="none" name="nonce" />
            </div>

            <div class="tab">
                <h3>Please, check your data:</h3>
                <div class="container">
                    <div class="left">
                        <label>First Name: </label>
                        <span id="resultFirstName"></span>
                        <label>Last Name: </label>
                        <span id="resultLastName"></span>
                        <label>Email: </label>
                        <span id="resultEmail"></span>
                        <label>Phone: </label>
                        <span id="resultPhone"></span>
                        <label>Company: </label>
                        <span id="resultCompany"></span>
                        <label>Country: </label>
                        <span id="resultCountry"></span>
                    </div>

                    <div class="middle"></div>
                    <div class="right">
                        <label>State: </label>
                        <span id="resultState"></span>
                        <label>City: </label>
                        <span id="resultCity"></span>
                        <label>Address: </label>
                        <span id="resultAddress"></span>
                        <label>Postal Code: </label>
                        <span id="resultPostalCode"></span>
                        <label>Extended Address: </label>
                        <span id="resultExtendedAddress"></span>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <button type="button" class="btn back-btn">Back</button>
                <button type="button" class="btn next-btn">Next Step</button>
            </div>
        </form>
    </div>
</div>
<script>
    var btAuthorization = '{{ btAuthorization }}';
</script>
</body>
</html>