{% do view.registerAssetBundle("endurant\\donationsfree\\assetbundles\\donations\\DonationsFreeAssetBundle") %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta name="viewport" content="width=device-width">
    {% block head %}{% endblock %}
</head>
<body>
<div class="overlay">
</div>
    <div class="checkout-panel">
        <div class="panel-body">
            <div class="panel-body-header">
                <div class="back-element">
                    <button class="back-button arrow" onclick="history.back(-1)">
                        <svg class="svg" width="40px" height="50px" viewBox="0 0 50 80" xml:space="preserve">
                            <polyline fill="none" stroke="#{{ mainColor }}" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="
                            45.63,75.8 0.375,38.087 45.63,0.375 "/>
                        </svg>
                    </button>
                    <span class="go-back" style="color: #{{ mainColor }}"  onclick="history.back(-1)">Go Back</span>
                </div>
                <h2 class="title">Checkout</h2>
                <div class="amount">
                    <h2 id="sum" class="amount">$ {{ amount }}</h2>
                    <input type="number" class="edit-amount-input hidden" value="{{ amount }}" />
                    <label id="edit-btn" class="edit-btn"></label>
                    <label id="ok-btn" class="ok-btn hidden"></label>
                    <label id="cancel-btn" class="cancel-btn hidden"></label>
                </div>
            </div>
            <div class="progress-bar">
                {% for step in steps %}
                    <div class="step"><span class="step-header">{{ step.title }}</span></div>
                {% endfor %}
            </div>

            <form id="payForm" action="pay" method="post">
                <input id="amount" class="hidden" name="amount" value="{{ amount }}"/>
                <input id="projectId" class="hidden" name="projectId" value="{{ projectId }}"/>
                <input id="projectName" class="hidden" name="projectName" value="{{ projectName }}"/>

                {% for step in steps %}
                    {% set templateUrl = './steps/' ~ step.name ~ '.twig' %}
                    {% include templateUrl %}
                    {% if step.name == 'payment' %}
                        <script>
                            var paymentOrder = {{ step.order - 1 }};
                        </script>
                    {% endif %}
                {% endfor %}

                <div class="panel-footer">
                    <button type="button" class="btn back-btn" disabled>Back</button>
                    <button type="button" class="btn next-btn">Next Step</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        var btAuthorization = '{{ btAuthorization }}',
            defaultCountryId = {{ defaultCountryId }},
            mainColor = '#{{ mainColor }}';
    </script>
</body>
</html>